/* 	
			Author: Lantha Wade 
			Date: 12/2023 
			File Name: css.biosite
		*/
			/* Css Reset */
            body, header, nav, main, footer, img, h1, h3, img, ul, aside, figure, figcaption  {
				margin: 0;
				padding: 0;
				border: none;
				background-color: #b36197;
			}
			
			/* Style rules for body and images */
			
			img {
				max-width: 100%;
				display: inline-block;
                position: relative;
			}
			
			
			nav {
				background-color: #2a1f14
			}
			/* Style rules for mobile viewport */
				@media (max-width: 768px) {
					fieldset,
					input,
					textarea {
					margin-bottom: 2%;
					}
				
					fieldset legend {
					font-weight: bold;
					font-size: 1.25em;
					}
				
					label {
					display: block;
					padding-top: 2%;
					}
				
					form #submit {
					margin-top: 0;
					margin-bottom: 0;
					margin-left: auto;
					margin-right: auto;
					display: block;
					padding: 2%;
					background-color: #78593a;
					color: #f6eee4;
					font-size: 1.25em;
					border-radius: 10px;
					}
				}
				
						
			/* Style rules for header */
           
            header {
                position: relative; /* Changed header positioning */
                z-index: 2; /* Set a higher z-index than the navigation */
				background-color: #000;
				height: 190px;
        }
	
			header img {
				margin: 0 auto;
	}
		/* Style rules for navigation area */
			nav {
                text-align: right;

                position: absolute; /* Changed the positioning to absolute */
                top: 0; /* adjusted the top position */
                left: 0; /* adjusted the left position */
                right: 0; /* Adjusted right position */
                z-index: 1; /*Adjusted z-index to 1 */
              }
              .top-nav {
                float: right;
              }
	
	/* Style rules to show mobile class and hide tab-desk class */
			.mobile,
			.mobile-tablet {
			display: block;
			}
					
			nav ul {
				list-style-type: none; 
                margin-top: 0px; /* Added margin to separate links from header images */
                text-align: right;
            }
			
			nav li {
				font-size: 1.5em;
                display: inline-block; /* Changed display to list items horizontally */
                margin-right: 10px; /* Adjusted the margin between list items */
				font-family: Arial, Helvetica;
				border-top: solid #34044b;

			}
			nav li a {
				color: #34044b;
				padding: 0.2em 0.5em;
                padding-left: 0.2em;
                padding-right: 0.2em;
                text-decoration: none;
			}
		
		/* Show mobile class, hide tablet-desktop class */
			.mobile {
			display: block;
			}
		/* style rules for header area */
			
			
		/* style rules for main content */
			main {
				padding: 2%;
				font-family: Emblema One, Lora;
			}
			main p {
				font-size: 1.25em;
			}
			
			.tel-link {
				background-color: #2a1f14;
				padding: 2%;
				margin: 0 auto;
				width: 80%;
				text-align: center;
				border-radius: 5px;
		}
			.tel-link a {
				color: #f6eee4;
				text-decoration: none;
				font-weight: bold;
			}
				
			main-h3 {
				padding-top: 2%;
			}
			main-ul {
				list-style: square;
			}
			.link {
				color: #4d3319;
				text-decoration: none;
				font-weight: bold;
				text-decoration: none;
				font-style: italic;
			}
			.action {
				font-size: 1.75em;
				font-weight: bold;
				text-align: center;
			}
			.round {
				border-radius: 6px;
			}
			aside {
				text-align: center;
				font-size: 1.5em;
				font-weight: bold;
				text-shadow: 4px 4px 10px #c5a687;
			}
			figure {
				border: 4px solid #2a1f14;
				box-shadow: 6px 6px 10px #c5a687;
				max-width: 400px;
				margin: 2% auto;
			}
			figcaption {
				padding: 2%;
				border-top: 4px solid #2a1f14;
			}
			#info ul {
				margin-left: 10%;
			}
			#contact selectors {
				text-align: center;
			}
		/* Style rules for form elements */

		/* style rules for footer content */
			footer {
				text-align: center;
				font-size: 0.85em;
				background-color: #34044b;
				color: #f6eee4;
				padding-top: 1%;
				padding-bottom: 1%;
				padding-right: 0%;
				padding-left: 0%;
			}
			footer a {
				color: #70218f2c;
				text-decoration: none;
			}
		/* Media Query for tablet Viewport */
				 @media screen and (min-width: 620px), print {
				.grid {					
					display: grid;
					grid-template-columns: auto auto;
					grid-gap: 10px;
				}
				aside {
					grid-column: 1 /span 2;
				}
			/* Tablet Viewport: Style rule for form element */
			@media (min-width: 768px) {
				form {
				  width: 70%;
				  margin-top: 0;
				  margin-bottom: 0;
				  margin-left: auto;
				  margin-right: auto;
				}
			  }
		/* Tablet Viewport: Show tab-desk class, hide mobile class */ 
					.tab-desk,
					.desktop {
					display: block;
					}
					.mobile,
					.mobile-tablet {
					display: none;
					}
					.tab-desk {
						display: block;
					}
					.mobile {
						display: none;
					}
		/* Tablet Viewport: Style rules for nav area */
					.nav li a {
						border-top: none;
						display: inline-block;
						font-size: 1.25em;
						padding: 0.5em;
					}
				 }
		/* Media Query for Large Desktop View ports */
					@media screen and (min-width: 1921px) {
						    body {
                                background: linear-gradient(to bottom, #47064d, #a560ac); /* added gradient and colors*/
                             }
                              
							#wrapper {
								width: 1920px;
								margin-top: 0;
								margin-bottom: 0;
								margin-left: auto;
								margin-right: auto;
							}
							main {
								background-color: #f6eee4;
							}
						}
						.grid {
							display: grid;
							grid-template-columns: repeat(4, 1fr);
						}
						aside {
							grid-column: 1 / span 4;
							font-size: 3em;
						}

		/* Media Query for Print */
							@media Print {
								body {
									background-color: white;
									color: black;
								}
							}

		/* Media Query for Desktop Viewport */
							@media screen and (min-width: 1000px) {
							}
								header {
									position: static;
									height: auto;
								}
		/* Desktop Viewport: Style rules for form elements */
						@media (min-width: 1024px) {
							form {
								width: auto;
							  }
						 .form-grid {
								display: grid;
								grid-template-columns: auto auto;
								grid-gap: 20px;
							  }
						 .btn {
								grid-column: 1 / span 2;
							  }
							}
		/* style rules for table */ 
							
						table {
							border: 1px solid #2a1f14;
							border-collapse: collapse;
							margin-top: 0;
							margin-bottom: 0;
							margin-left: auto;
							margin-right: auto;
						}
						
						caption {
							font-size: 1.5em;
							font-weight: bold;
							padding: 1%;
						}
						
						th, td {
							border: 1px solid #2a1f14;
							padding: 1%;
						}
						
						th {
							background-color: #2a1f14;
							color: white;
							font-size: 1.15em;
						}
  						tr:nth-child(odd) {
							background-color: #deccba;
						}								
							nav li a:hover {
								color: #2a1f14;
								background-color: #f6eee4;
								opacity: 0.5;
							}
							.grid {
								display: grid;
								grid-template-columns: repeat(3, 1fr);
								grid-gap: 30px;
							}
							aside {
								grid-column: 1 / span 3;
								font-size: 2em;
							}
							.desktop {
								display: block;
							  }
		/* New style rule for mobile-tablet class */
							.mobile-tablet {
								display: none;
							}
							
                    /* Desktop Viewport: Style Rules for Nav Area */
                   
                    .top-nav {
                        float: right;
                      }
                                
					.nav li {
							font-size: 1.5em;
						}
					.nav li a  {
							padding-top: 0.5em;
							padding-bottom: 0.5em;
							padding-left: 0.2em;
							padding-right: 0.2em;
							
						}

					.nav li a:hover {
							color:#2a1f14;
							background-color: #f6eee4;
						}
			/* Desktop Viewport: Style Rules for Main Content */
						#info ul {
							margin-left: 5%
						}
				 .tel-num {
					font-size: 1.25em ;	
				}